<div class="container-fluid pt-2">
    <div class="alert alert-secondary text-center">
        <h1>ALL POSTS</h1>
    </div>
    <table class="table table-bordered">
        <thead class="bg-dark">
            <tr class="text-white text-center">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Comments Allowed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each posts}}
            <tr>
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>{{allowComments}}</td>
                <td class="d-flex justify-content-center">
                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-warning me-2">Edit Post</a>

                    <form action="/admin/posts/delete/{{_id}}?newMethod=DELETE" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete Post</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>